<% layout("/layouts/boilerplate") %>


    <div class="row mt-3">
        <div class="col-6 offset-3">
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <h3>Login On Vista</h3>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input name="username" type="text" placeholder="Enter username" class="form-control" required>
                        <div class="invalid-feedback">Please enter username!</div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" type="password" placeholder="Enter password" class="form-control" required>
                         <div class="invalid-feedback">Please enter password!</div>
                    </div>

                    <button class="btn btn-light add-btn">Login</button>

            </form>
        </div>
    </div>